body {
    margin: 0;
    width: 100%;
    
}
* {
    box-sizing: border-box;
}
div{
    display: block;
}
h4{
    color: #000;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--layout-topbar);
    padding: 8px 16px;
    font-family: var(--font-family-heading);
    font-weight: 500;
    color: var(--font-color-heading);
    background: #fbdc00;
}
.nav {
    display: block;
    flex-shrink: 0;
    margin-left: auto;
    cursor: pointer;
}
a {
    color: var(--font-color-link);
    text-decoration: none;
}
nav {
    display: block;
}
.styles_navbar__tnb5E {
    margin-right: auto;
    margin-left: auto;
}
.styles_nav_list__6mx0D {
    display: flex;
    align-items: center;
    list-style-type: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.styles_container__T_Plg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--layout-topbar);
    padding: 8px 16px;
    font-family: var(--font-family-heading);
    font-weight: 500;
    color: var(--font-color-heading);
    background: #fbdc00;
}
.styles_container__TOMue {
    min-width: fit-content;
    min-height: 100vh;
}
.styles_nav_item__8fo_y {
    margin-left: 20px;
    border-radius: 4px;
}
.styles_nav_item_inner__ZJ2Kl {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.styles_contact__jMVkT {
    width: 100%;
    margin-left: 40px;
    color: #000; ;
}

.styles_register_container__Bu59g {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    list-style-type: none;
}

.styles_register_login__F_Jck {
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}

.ui_button_container.ui_ps_themeType_primary {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
}
.ui_button_container.ui_ps_size_md {
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    font-size: 13px;
}
.styles_register_signup__eTPFU {
    width: 100%;
    color: #FBDC00;
    background-color: #ee3425;
    border-radius: 8px!important;
}

.styles_header__raNgO {
    position: relative;
    width: 100%;
    padding-top: 57px;
    margin-top: 0px;
    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp); 
    /* background-color: #fbdc00; */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}


.styles_container__YcS5m{
    display:flex;
    justify-content: space-around;
    align-items: center;

} 
.styles_container__TOMue {
    --layout-topbar: 56px;
    --layout-startbar: 200px;
    min-width: -moz-fit-content; 
    min-width: fit-content;
    min-height: 100vh;
} 
.styles_content_container__Lq4ZE h1 {
    margin-bottom: 20px;
}
.styles_paragraph__26egz {
    margin-bottom: 20px;
    font-size: 16px;
    color: #434343;
}
a {
    text-decoration: none;
}
.styles_button__qcu28 {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
}
.styles_button__qcu28 {
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    font-size: 13px;
    padding: 8px 42px!important;
    border-radius: 8px!important;
}
.styles-module_container__nBRuU {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    padding: 2px 4px;
    line-height: 1.2;
    cursor: pointer;
    background-color: rgb(187, 183, 183);
    border: 1px solid #dedede;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
}
button {
    font-family: sans-serif;
    font-size: 14px!important;
    font-weight: 700!important;
}
.styles_content_container__Lq4ZE {
    flex: 1 1;
}
.styles_image_container__0YN9V {
    flex: 1 1;
    margin-bottom: -56px;
}
.styles_container__YcS5m{
    margin-top:10px;
    width:1200px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}


.styles_container__YcS5m{
    margin-top: -20px;
}

.styles_industries_container__Urxj1
{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: -40px;
    box-sizing: border-box;
    width: 100%
}
.styles_item__Oiynq{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
} 
.styles_count___mlOz{
    margin-bottom:5px;
    color:#ee3425;
    font-size: 40px;
    line-height: 1.2;
}  


.styles_main_container__ZSwzL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    background: #fffef2;

}

.styles_product_container__SIrq4{
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.styles_about_container__PGBzG h2 {
    margin-bottom: 10px;
}
h2 {
    font-size: 40px;
    line-height: 1.2;
}
.styles_image_container___PdMF{
    flex: 1 1;
}
p {
    font-size: 16px;
}
.styles_product_image__H5xch {
    display: block;
    width: 500px;
    object-fit: contain;
    height: 100%;
}
.styles_container__YcS5m {
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.styles_heading_container__dfpW6{
    text-align: center;
}
h3 {
    font-size: 28px;
    line-height: 1.2;
}
.styles_container_items__st9tE{
    display: flex;
    justify-content: space-between;
    background: #fffef2;
}

.styles_card_container__1gBLK{
    /* display: flex;
    flex-direction: column; */
    display: block;
}
.styles_card_element__itU40{
    display: flex;
    align-items: center;
    margin: 14px 0;
}
.styles_card_heading__uay5G{
    width: 300px;
    margin-right: 50px;
    font-size: 24px;
    color: #000;
}
.styles_card_icon__Jt_3H{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.styles_card_icon__Jt_3H a {
    text-decoration: none;
}
.styles_card__hpklv{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.styles_name__OTyeY{
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
}
.styles_add_more__5vDZp{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    color: #ee3425;
    cursor: pointer;
}
.styles_find__zT3eI{
    margin-right: 4px;
}
.aa{
    display:flex;
    flex-direction: column;
}
.styles_container__dzpK7{
    margin-bottom: 50px;
}
.styles_heading__aCfhQ{
    text-align: center;
}
.styles_marquee__9MLPj{
    display: flex;
    gap: 0.1rem;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.styles_marquee_group__zk6g6{
    display: flex;
    flex-shrink: 0;
    gap: 0.1rem;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    animation: styles_scroll__Yny6C 60s linear infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: styles_scroll__Yny6C; 
    
}
.styles_marquee_group__zk6g6 img {
    width: 100px;
    height: 100%;
}
img {
    overflow-clip-margin: content-box;
    /* overflow: clip;
    overflow-x: ;
    overflow-y: ; */
}

.styles_video_container__1SZHe{
    padding-top: 20px;
    margin-bottom: 20px;
    background: #fbdc00;
}

.styles_container__S98lD styles_container__YcS5m ui_fixed_container styles-module_container__EvXjS{
    width: 1200px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styles_header__sJd0q{
    padding: 10px 0;
}
.styles_video_container__1SZHe h3 {
    margin-bottom: 10px;
}
a {
    color: #ee3425;
}
.styles_know_more__CRhau styles-module_container__nBRuU ui_button_container ui_ps_size_md ui_ps_themeType_primary{
    border: 1px solid #ee3425;
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
}
.styles_button_container__Q861a{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
}
.styles_container__YcS5m{
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.styles_main_container__ieOx_{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width:100%;
}
h3 {
    font-size: 28px;
    line-height: 1.2;
    width: 100%;
}
.styles_main_container__ieOx_ {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    border-radius: 20px;
}
.styles_heading__j_j_U{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.styles_main_container__ieOx_ .styles_gtp_container_button__dy2Cq {
    display: flex;
    justify-content: space-between;
}
.styles_gtp_container_button__dy2Cq{
    display: flex;
    justify-content: space-between;
}
.styles_main_container__ieOx_ .styles_gtp_container_button__dy2Cq button {
    width: 200px;
    padding: 20px;
    margin: 0 20px;
    font-weight: 700;
    border-radius: 20px;
}
.styles_main_container__ieOx_ .styles_active__FEswy {
    background-color: #fbdc00;
    border: #fbdc00;
}
.ui_button_container.ui_ps_size_md {
    min-width: 72px;
    height: 36px;
}
.styles-module_container__nBRuU {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
}

.styles_container__7cFsf{
    position: relative;
    display: flex;
}

.styles_imagecontainermobile__57eRt{
    display: none;
}
.styles_image__cFHAa {
    width: 560px;
    height: 320px;
}
.styles_stage1__RwgVC {
    margin-bottom: 120px;
}
.styles_main__9QKz8 {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.styles_redtext__qNc_O{
    font-weight: 600;
    color: #ee3425;
}
.styles_heading__GyQVu{
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.styles_heading__GyQVu div {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
.styles_main__9QKz8 span {
    display: flex;
}
.styles_para__7I1R1
{
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
    font-size: 16px;
    color: #434343;

}
.styles_arrow1__hJg7v
{
    position: absolute;
    top: 104px;
    left: 300px;
}
.styles_arrowimage__50gz2 {
    width: 150px;
    height: 60px;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.styles_redtext__qNc_O{
    font-weight: 600;
    color: #ee3425;
}
.styles_heading__GyQVu{
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.styles_heading__GyQVu div {
    padding-left: 8px;
    font-size: 20px;
    font-weight: 600;
}
p {
    font-size: 16px;
}
.styles_main__9QKz8 span {
    display: flex;
}
.styles_arrow2__JOZhk{
    position: absolute;
    bottom: 116px;
    left: 300px;
}
.styles_imagecontainer__7Ps6C{
    display: flex;
    align-items: center;
    justify-content: center;
}
.styles_image__cFHAa{
    width: 560px;
    height: 320px;
    overflow: clip;
}
.styles_arrow3__XQhnr{
    position: absolute;
    top: 104px;
    right: 300px;
}
.styles_stage3__anVPg {
    margin-bottom: 120px;
}
.styles_arrow4__W5PwF {
    position: absolute;
    right: 300px;
    bottom: 116px;
}
.styles_section_industries_served__N4mr6{
    padding: 16px!important;
    margin-bottom: 50px;
    background: #fffef3;
}
.styles_container__YcS5m{
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.jj{
    display: block;
}
.styles_heading__cmDRT{
    text-align: center;
}
.styles_industries_container__uEfE4{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;

}
.styles_item__pnuJm{
    width: 100px;
    height: 100px;
}
.styles_section_container_trade__6YPj0{
    margin-bottom: 50px;
}
.styles_main_container__TX3Ac {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.styles_main_container__TX3Ac {
    display: flex;
    align-items: center;
    padding: 16px 100px!important;
}
.styles_about_container__PGBzG{
    flex: 1 1;
}
.styles_about_container__PGBzG h2 {
    margin-bottom: 10px;
}
.styles_cta__aMGlp{
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 8px 42px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #ee3425;
    border-radius: 8px;
}
.styles_image_container___PdMF{
    display: flex;
    flex: 1 1;
    justify-content: flex-end;
}
.styles_about_image__p8EBE{
    display: block;
    width: 280px;
    height: 360px;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.styles_container_div__IIFJX{
    margin-bottom: 50px;
}

.styles_video_thumbnail_container__xBHGN{
    position: relative;
    height: 450px;
    cursor: pointer;

}
.styles_video_thumbnail__pOb6D{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.styles_video_overlay__U9zLv{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
}
.styles_play_button__EeLAz{
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
    overflow-clip-margin: content-box;
    overflow: clip;
    cursor: pointer;
}
.styles_video_container__pHUFS{
    background: #ee3425;
}
.styles_container__RyMJG {
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styles_header__knvrv{
    padding: 25px 0;
}
.styles_button_container__JiLtH{
    color: #000;
}
.jj .styles_know_more__jTOOf{
    background-color: #FBDC00;
}
.styles_container__YcS5m.ui_fixed_container {
    width: 1200px;
}
.blogs {
    width: 1200px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.styles_blog_container__3X_0M{
    display: flex;
    flex-direction: column;
}
.styles_heading__n9MVL {
    text-align: center;
}
.styles_cards_container__1tjAy {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.styles_card__qp3LP {
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsl(0deg 0% 79% / 50%);
}
.styles_button_container__NubT0 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.styles_card__qp3LP a {
    color: #000!important;
    text-decoration: none;
}
.styles_card_thumbnail__zF8QZ {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #fbdc00;
    object-fit: cover;
}
.styles_main_container__pPP4G{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    margin-top: 20px;
    background-color: #fbdc00;
}
.styles_main_container__pPP4G:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    content: " ";
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}
.styles_about_container__yaghD{
    width: 20%;
    padding: 20px;
    margin: 20px;
}
.styles_about_container__yaghD img {
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;
}
.styles_subscribe_container__yNwAU{
    display: block;
}
.styles_heading__IlKbp{
    margin: 0;
}
.styles_subheading__je0ZQ{
    font-size: 16px;
}
.styles_input_container__LNJZN{
    align-items: center;
    margin-top: 20px;
}
.styles_border__7yY6A{
    display: flex;
}
form {
    margin-top: 0em;
}
.styles_input_container__LNJZN input[type=email] {
    box-sizing: border-box;
    display: inline-block;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
.ui_button_container.ui_ps_themeType_primary {
    color: #fff;
    background-color: #ee3425;
    border: 1px solid #ee3425;
}
.ui_button_container.ui_ps_size_md {
    min-width: 72px;
    padding: 4px 16px;
}
.styles-module_container__nBRuU {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
}
.styles_button__wYa0P {
    width: 120px!important;
    height: 40px!important;
    text-align: center;
    text-decoration: none;
    background-color: #ee3425;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.ui_button_container {
    outline: none;
    transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    will-change: color,background-color,border-color;
}


.styles_container__mp6KS {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0 50px 50px;
    font-family: var(--font-family);
    background: #fbdc00;
}
.styles_nav_list__fPY18 {
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.styles_main_container__eLYmh {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
}
.styles_nav_item_footer__6HwUL {
    display: flex;
    flex-direction: column;
}
.styles_footer_item__o877f {
    flex-direction: row;
    align-items: center;
    margin: 8px 0;
}
.styles_footer_list_item__VYTDf {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8px;
}
.styles_hyperlink__Amf1l {
    font-weight: 400;
    color: #000;
    text-decoration: none;
}
.styles_ports_container__PAuZ2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0;
    background-color: #ebbe00;
}
.styles_air_ports__Xt8cj, .styles_fcl_ports__2VFhx, .styles_lcl_ports__pgneX {
    display: flex;
    flex-direction: column;
}
.styles_port__z0ujg {
    line-height: 2rem;
}
.styles_port__z0ujg a {
    color: #000;
    text-decoration: none;
}
.styles_bottom_footer__pr0sd {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 30px;
    background: #ebbe00;
}
.styles_bottom_footer_left__7DOKA {
    display: flex;
    align-items: center;
}
.styles_copyright_list_cogo__y5Yaa {
    display: flex;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
.styles_copyright_list__zrvQ7 {
    display: flex;
    margin-left: 10px;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
.styles_copyright_list__zrvQ7 a {
    color: #000;
    text-decoration: none;
}
.styles_list__jGq8v {
    margin-right: 5px;
    cursor: pointer;
}
.styles_social_media__kHOsn {
    padding: 20px 30px;
}
.styles_social_media__kHOsn svg {
    margin-right: 4px;
    color: #000;
    cursor: pointer;
}
.styles_copyright_list_mobile___c7rQ {
    display: none;
}
.ss {
    color: #fff;
    background-color: #fbdc00;
    border: 1px solid #ee3425;
}